window
{
    background-image: url("../img/css-fon2.jpg");
    background-repeat: no-repeat;
    background-size: 1280px;

}

#chat_name
{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32pt;
}

#authorization
{
    background-image: url("../img/tenor.gif");
    background-size: 500px;
    padding: 5px;
    border-radius: 15px;
    border: .5px solid #e1e1e1;
}

#Reg
{
    background-image: url("../img/tenor.gif");
}